<div class="modal fade modal--share" id="modal-share">
    <div class="modal--share-wrap">
        <div id="share" class="ya-share2" data-description="Panda.wiki" data-title="" data-url="#" data-services="vkontakte,facebook,gplus,twitter,reddit,linkedin,viber,whatsapp,skype,telegram" data-size="m" data-counter></div>
    </div>
</div>